{% extends "accounts/base.html" %}
{% block content %}
<div class="left">
    <div class="header-section">
        <h3 class="logo">Logo</h3>
        <div class="action">
            <a href="{% url 'register02' %}" class="btn next-btn">Continue <i class="bx bx-chevron-right"></i></a>
        </div>
    </div>
    <div class="form-section">
        <h4>Create an account</h4>
        <p>Enter your email below to create your account</p>
        <form action="">
            <div class="name-field">
                <input type="email" name="email" id="email" placeholder="name@example.com">
                <i class="bx bxs-check-circle verify"></i>
            </div>
            <button type="submit" class="btn-submit">Sign in with Email</button>
            
        </form>
        <div class="google-option">
            <span><hr> OR CONTINUE WITH <hr></span>
            <a href="#" class="google">Google</a>
        </div>
    
        <div class="privacy_notice">
            <span>By clicking continue, you agree to our <a href="#">Terms of Service and Privacy Policy</a></span>
        </div>
    </div>
</div>
<div class="right">
    
</div>
{% endblock content %}