{% extends "accounts/base.html" %}
{% block content %}
<div class="left">
    <div class="header-section">
        <h3 class="logo">Logo</h3>
        <div class="action">
            <a href="{% url 'register01' %}" class="btn back-btn"><i class="bx bx-chevron-left"></i>Previous</a>
            <a href="{% url 'register03' %}" class="btn next-btn">Continue <i class="bx bx-chevron-right"></i></a>
        </div>
    </div>
    <div class="form2-section">
        <h4>Hi, here’s a couple quick questions to help
            tailor your experience</h4>
        
        <form action="">
           <h5>This will help us personalize your experience in Mail</h5>
           <div class="choices">
            <div class="choice-one">
                <label for="choice-one">B2B SaaS</label>
                <input type="checkbox" name="choice-one" id="choice-one" value="B2B SaaS">
            </div>
            <div class="choice-two">
                <label for="choice-two">E-Commerce</label>
                <input type="checkbox" name="choice-two" id="choice-two" value="E-Commerce">
            </div>
           </div>
        </form>
        
    </div>
</div>
<div class="right">
    
</div>
{% endblock content %}