{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<div class="left">
    <div class="header-section">
        <div class="logo"><img src="{% static 'images/logo.svg' %}" alt=""></div>
        <div class="action">
            <a href="{% url 'register02' %}" class="btn back-btn"><i class="bx bx-chevron-left"></i>Previous</a>
            <a href="#" class="btn next-btn">Continue <i class="bx bx-chevron-right"></i></a>
        </div>
    </div>
    <div class="form3-section">
        <h4>Connect your first inbox</h4>
        <p>Enter a valid email address</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" value="{{user_id}}" style="display: none;">
            <label for="email">Email:</label>
            <input type="email" name="connect_email" id="email" placeholder="name@example.com" required>
            <button type="submit" class="btn-submit">Add Account</button>
            
        </form>
        
    </div>
</div>
<div class="right">
    
</div>

{% endblock content %}