{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<div class="left">
    <div class="header-section">
        <div class="logo"><img src="{% static 'images/logo.svg' %}" alt=""></div>
        <div class="action">
            <a href="{% url 'register03' %}" class="btn back-btn"><i class="bx bx-chevron-left"></i>Previous</a>
            <a href="{% url 'register05' %}" class="btn next-btn">Continue <i class="bx bx-chevron-right"></i></a>
        </div>
    </div>
    <div class="form4-section">
        <h4>Connect your first inbox</h4>
        <p>Three quick steps to connect your account</p>
        <form action="">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="name@example.com" value="name@example.com" readonly>
            
            
            <div class="steps">
                <span class="step">1  Enable IMAP in your Gmail settings here</span>
                <span class="step">2  Enable 2-Factor Authentication</span>
                <span class="step">3  Generate App Password</span>
            </div>

            <button type="submit" class="btn-submit">Add Account</button>
        </form>
        
    </div>
</div>
<div class="right">
    
</div>
{% endblock content %}