body{
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    margin: 0;
    font-family: "Inter", sans-serif;
}

.messages{
    font-family: "Poppins";
    width: 100%;
    .alert{
        width: 100%;
        font-size: 12px;
        
        &.alert-warning{
            color: red;
        }
        &.alert-success{
            color: green;
        }
    }
}
.body-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    overflow: hidden;
    .left{
        width: 50%;
        
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .header-section{
            height: 10%;
            display: flex;
            align-items: center;
            
            justify-content: space-between;
            padding: 0 20px;
            .logo{
                
                font-weight: bold;
                padding-top: .5rem;
                img{
                    width: 10rem;
                }
            }
            .action{
                
                box-sizing: border-box;
                display: flex;
                gap: 10px;
                .btn{
                    
                    background: #101010;
                    text-decoration: none;
                    color: white;
                    padding: 10px 8px;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    &.back-btn{
                        padding-right: 16px;
                    }
                    &.next-btn{
                        padding-left: 16px;
                    }
                }
            }
        }
        .form-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 420px;
            height: 90%;
            padding: 20px;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            box-sizing: border-box;
            h4{
                font-size: 26px;
                margin-bottom: 0;
            }
            p{
                font-size: 18px;
            }
            form{
                width: 100%;
                
                box-sizing: border-box;
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                .name-field{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    input{
                        padding: 14px;
                        width: 100%;
                        border-radius: 5px;
                        margin: 0;
                        box-sizing: border-box;
                        border: 1px solid rgba(0, 0, 0, 0.11);
                    }
                    .verify{
                        margin-left: -8%;
                        font-size: 18px;
                        color: green;
                    }
                }
                button{
                    width: 100%;
                    padding: .8rem 14px;
                    background: black;
                    color: white;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    font-family: "Poppins";
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 600;
                }
                
            }
            .google-option{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                box-sizing: border-box;
                gap: 20px;
                span{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    color: rgba(0, 0, 0, 0.40);
                    font-weight: bold;
                    font-size: 14px;
                    font-family: "Poppins";
                    hr{
                        width: 20%;
                        height: 1px;
                        border: none;
                        background: rgba(0, 0, 0, 0.26);
                    }
                }
                a.google{
                    text-decoration: none;
                    color: black;
                    font-size: 22px;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                    padding: 14px;
                   
                }
            }
            .notice{
               
                padding: 1rem 0;
                span{
                    color: black;
                    font-size: 14px;
                    font-weight: 500;
                    a{
                        font-weight: bold;
                        color: black;
                    }
                }
            }
        }
        .form2-section{
            display: flex;
            flex-direction: column;
            
            
            width: 100%;
            height: 90%;
            padding: 5%;
            
            box-sizing: border-box;
            h4{
                font-size: 26px;
                margin-bottom: 0;
            }
            form{
                h5{
                    font-size: 16px;
                }
                .choices{
                    
                    width: 100%;
                    display: flex;
                    label:has(+ input:checked){
                        color: rgba(0, 0, 0, 0.801);
                        background-color: #d9d9d996;
                        border: 1px solid #17171aaf;
                    }
                    .choice-one,.choice-two{
                        display: flex;
                        label{
                            border: 1px solid #D9D9D9;
                            padding: 10px 14px;
                            border-radius: 5px;
                            font-weight: bold;
                            
                        }
                        input{
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        .form3-section{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
            width: 420px;
            height: 90%;
            padding: 5% 20px;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            box-sizing: border-box;
            h4{
                font-size: 26px;
                margin-bottom: 0;
                font-weight: bold;
            }
            p{
                font-size: 18px;
                font-weight: 500;
            }
            form{
                width: 100%;
                
                box-sizing: border-box;
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                label{
                    font-weight: 500;
                }
                input{
                    padding: 14px;
                    width: 100%;
                    border-radius: 5px;
                    margin: 0;
                    box-sizing: border-box;
                    border: 1px solid rgba(0, 0, 0, 0.11);
                }
                input::placeholder{
                    
                    font-weight: 500;
                }
                    
                
                button{
                    width: 100%;
                    padding: .8rem 14px;
                    background: #101010;
                    color: white;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 600;
                }
                
            }
          
            
        }
        .form4-section{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
            width: 420px;
            height: 90%;
            padding: 5% 20px;
            padding-bottom: 0;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            box-sizing: border-box;
            h4{
                font-size: 26px;
                margin-bottom: 0;
                font-weight: bold;
            }
            p{
                font-size: 18px;
                font-weight: 500;
            }
            form{
                width: 100%;
                height: 100%;
                
                box-sizing: border-box;
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: relative;
                
                justify-content: center;
                label{
                    font-weight: 500;
                }
                input{
                    padding: 14px;
                    width: 100%;
                    border-radius: 5px;
                    margin: 0;
                    box-sizing: border-box;
                    border: 1px solid rgba(0, 0, 0, 0.11);
                }
                input::placeholder{
                    
                    font-weight: bold;
                }
                    
                .steps{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    justify-content: center;
                    
                    gap: 15px;
                    span.step{
                        border: 1px solid #D9D9D9;
                        padding: 10px 14px;
                        border-radius: 5px;
                        font-size: 14px;
                    }
                }
                button{
                    width: 100%;
                    padding: .8rem 14px;
                    background: #101010;
                    color: white;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    position: relative;
                    bottom: 0;
                    margin-top: auto;
                    top: auto;
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 600;
                }
                
            }
          
            
        }
    }
    .right{
        width: 50%;
        display: flex;
        height: 100%;
        background-color: #17171A;
        box-sizing: border-box;
    }
    
}
@media screen and (max-width:1024px) {
   
    .body-container{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        .left{
            width: 100%;
            
            padding: 5px;
            .header-section{
            
                padding: 0 10px;
                .logo{
                    
                    img{
                        width: 8rem;
                    }
                }
                .action{
                    
                    box-sizing: border-box;
                    display: flex;
                    gap: 5px;
                    .btn{
                        
                        font-size: 14px;
                        font-weight: bold;
                        padding: 10px 4px;
                        i.bx{
                            font-weight: bolder;
                        }
                        &.back-btn{
                            padding-right: 12px;
                        }
                        &.next-btn{
                            padding-left: 12px;
                        }
                    }
                }
            }
            .form-section{
                
                
                width: 100%;
                height: 100%;
                padding: 20px;
                left: 0%;
                position: relative;
                transform:none;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                
                p{
                    font-size: 14px;
                }
              
                .google-option{
                    
                    span{
                       
                        font-size: 12px;
                    }
                    a.google{
                        font-size: 16px;
                        padding: .8rem 14px;
                        border: 1px solid rgba(0, 0, 0, 0.11);
                        border-radius: 5px;
                        font-weight: bold;
                    }
                }
                .notice{
                    
                    padding: 1rem 0;
                    box-sizing: border-box;
                   
                    span{
                       
                        font-size: 12px;
                       
                        a{
                            
                            color: black;
                        }
                    }
                }
            }
            .form2-section{
                form{
                    h5{
                        font-size: 14px;
                        
                    }
                    .choices{
                        .choice-one,.choice-two{
                            
                            label{
                                font-size: 12px;
                            }
                            
                        }
                    }
                }
            }
            .form3-section{
                
                
                width: 100%;
                height: 100%;
                padding: 20px;
                left: 0%;
                position: relative;
                transform:none;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                
                p{
                    font-size: 14px;
                }
                form{
                    
                    label{
                        font-size: 14px;
                        
                    }
                    
                        
                   
                    
                }
                
                
            }
            .form4-section{
                width: 100%;
                height: 100%;
                padding: 20px;
                left: 0%;
                position: relative;
                transform:none;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                h4{
                    font-size: 26px;
                    margin-bottom: 0;
                    font-weight: bold;
                }
                p{
                    font-size: 14px;
                }
                form{
                    
                    label{
                        font-size: 14px;
                        
                    }
                    
                        
                    .steps{
                       
                        span.step{
                           
                            font-size: 12px;
                        }
                    }
                    
                }
              
                
            }

        }
        .right{
            display: none;
        }
        
    }
}