{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="{% static 'stylesheets/accounts.css' %}">
    
    <title>Accounts</title>
</head>
<body>
    <div class="body-container">
        {% block content %}
          
        {% endblock content %}
    </div>

   
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        // Attach click event to the next-btn element
        $(".next-btn").click(function() {
            // Trigger the form submission
            if ($("form")[0].checkValidity()) {
        // Trigger the form submission
                $("form").submit();
            } else {
                // If the form is not valid, you can add your own logic here
                // For example, display an error message or highlight the required fields
                alert("Please fill in all required fields.");
            }
        });
        
        $('#email').on('input', function() {
            var email = $(this).val();

            // Use a regular expression to check if the email is in a valid format
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            var isValidEmail = emailRegex.test(email);

            // Toggle the visibility of the check-circle element based on the email validation result
            $('.verify').toggle(isValidEmail);
        });
        setTimeout(function() {
            $(".messages").fadeOut();
        }, 4000); // 5000 milliseconds = 5 seconds
    });
</script>
</body>
</html>