{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<div class="left">
    <div class="header-section">
        <div class="logo"><img src="{% static 'images/logo.svg' %}" alt=""></div>
        <!-- <div class="action">
            <a href="{% url 'register02' %}" class="btn next-btn">Continue <i class="bx bx-chevron-right"></i></a>
        </div> -->
    </div>
    <div class="form-section">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                    
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <h4>Log into your account</h4>
        <p>Enter your email below</p>
        
        <form action="">
            <div class="name-field">
                <input type="email" name="email" id="email" placeholder="name@example.com">
                <i class="bx bxs-check-circle verify"></i>
            </div>
            <div class="name-field">
                <input type="password" name="password" id="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn-submit">Log In</button>
            
        </form>
        <div class="google-option">
            <span><hr> OR CONTINUE WITH <hr></span>
            <a href="#" class="google">Google</a>
        </div>
    
        <div class="notice">
            <span>By clicking continue, you agree to our <a href="#">Terms of Service and Privacy Policy</a></span>
        </div>
    </div>
</div>
<div class="right">
    
</div>
{% endblock content %}